<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', { title: 'Status :: 500' }) %>
    <link rel="stylesheet" href="/styles/post-item.css">
<body>
    <%- include('includes/header') %>
    <section id="body">
            <h2 id="noposts" style="margin-top: 15%">요청하신 페이지를 찾을 수 없습니다 D:</h2>
    </section>

    <script src="/scripts/navbar.js"></script>
</body>
</html>