#post-detail {
    font-family: "Noto Sans KR", sans-serif;
    /* background-color: white; */
    border: 2px solid rgba(50, 54, 75, 0.669);
    border-radius: 0.3rem;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 28px;
    padding: 1.5rem;
    min-width: 24%;
    max-width: 30%;
    width: 30%;
    height: 100%;
    /* text-align: center; */
}

h2 {
    text-decoration: none;
    color: rgb(35, 39, 88);

    /* background: linear-gradient(rgba(175, 141, 236, 1), rgba(141, 124, 226, 1));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */

    font-weight: bold;
    font-size: 1.5rem;

    margin-bottom: 3%;
}

#post-item-author {
    display: inline;
    font-size: 0.8rem;
    margin-bottom: 5%;
    font-weight: bold;
    color: rgba(50, 54, 75, 0.619);
}

#author-name {
    font-size: 0.8rem;
    font-weight: bold;
    color: rgba(50, 54, 75, 0.826);
}

#date {
    font-size: 0.8rem;
    font-weight: bold;
    color: rgba(50, 54, 75, 0.52);
}

#post-control, #post-control form, .reply-mod form, #create-reply-form {
    display: inline-block;
    margin-bottom: 1%;
}

.post-item-content {
    color: rgb(58, 60, 95);
    white-space: pre-line;
    font-size: 1.1rem;
    font-weight: bold;
    text-overflow: ellipsis;
    /* overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; */
    margin-bottom: 5%;
}


